<section class='accordions-wrapper w-4/5 mx-auto my-24'>
  <div class='text-4xl font-semibold my-5'>FAQ</div>

  <div class='accordions flex flex-col gap-2'>

    <div class='accordion drop-shadow-md'>
      <button
        class='accordion-button flex justify-between items-center w-full p-6 bg-blue-900 text-white font-semibold rounded-lg duration-700'
      >
        <h3 class='pointer-events-none'>Accordion 1</h3>
        <i
          class='icon icon-arrow-down pointer-events-none bg-white w-5 h-5 transition ease-in duration-500 hover:scale-125'
        ></i>
      </button>
      <div class='accordion-text h-0 overflow-hidden duration-300'>
        <p class='p-5 bg-stone-200'>Prvi ipsum dolor, sit amet consectetur adipisicing elit. Placeat rerum fugiat
          deserunt perspiciatis id, sunt enim praesentium quis cumque commodi quam impedit quaerat vel accusantium quae
          alias culpa dolorem iure!</p>
      </div>
    </div>

    <div class='accordion drop-shadow-md'>
      <button
        class='accordion-button flex justify-between items-center w-full p-6 bg-blue-900 text-white font-semibold rounded-lg duration-700'
      >
        <h3 class='pointer-events-none'>Accordion 2</h3>
        <i
          class='icon icon-arrow-down pointer-events-none bg-white w-5 h-5 transition ease-in duration-500 hover:scale-125'
        ></i>
      </button>
      <div class='accordion-text h-0 overflow-hidden duration-300'>
        <p class='p-5 bg-stone-200'>Drugi ipsum dolor, sit amet consectetur adipisicing elit. Placeat rerum fugiat
          deserunt perspiciatis id, sunt enim praesentium quis cumque commodi quam impedit quaerat vel accusantium quae
          alias culpa dolorem iure!</p>
      </div>
    </div>

    <div class='accordion drop-shadow-md'>
      <button
        class='accordion-button flex justify-between items-center w-full p-6 bg-blue-900 text-white font-semibold rounded-lg duration-700'
      >
        <h3 class='pointer-events-none'>Accordion 3</h3>
        <i
          class='icon icon-arrow-down pointer-events-none bg-white w-5 h-5 transition ease-in duration-500 hover:scale-125'
        ></i>
      </button>
      <div class='accordion-text h-0 overflow-hidden duration-300'>
        <p class='p-5 bg-stone-200'>Treci ipsum dolor, sit amet consectetur adipisicing elit. Placeat rerum fugiat
          deserunt perspiciatis id, sunt enim praesentium quis cumque commodi quam impedit quaerat vel accusantium quae
          alias culpa dolorem iure!</p>
      </div>
    </div>

  </div>
</section>